.blue{
    background: blue;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.silver{
    background: silver;
}
.purple{
    background: purple;
}
.orange{
    background: orange;
}
.grey{
    background: grey;
}
.khaki{
    background: khaki;
}
.black{
    background: black;
}
.lightgrey{
    background: lightgrey;
}
.colorblack{
    color: black;
}
.colorgreen{
    color: green;
}